@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

.about {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 8%;
    right: 0;
    width: 95%;
    max-width: 700px;
    padding-right: 30px;
    padding-top: 60px;
    margin: 0 auto;
}

h2 {
    margin-left: 10px;
    font-weight: 300;
}

p {
    font-size: 19px;
    background-color: rgba(70, 80, 123, 0.733);
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-weight: 300;
}

.backButton {
    position: absolute;
    top: 2%;
    left: 0;

    text-align: center;
    border: 1px solid rgb(70,80,123);
    padding: 10px 40px;
    text-decoration: none;
    color: rgb(70,80,123);
    font-weight: 400;
    transition: all 0.3s;
}

.backButton:hover {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(70,80,123);
    background-color: rgb(70,80,123);
}


@media only screen and (max-width: 800px) {
    .about {
        position: inherit;
        padding-right: 0;
    }
    .backButton {
        position: absolute;
        top: 2%;
        left: 3%;
    }
}


@media only screen and (max-width: 1200px) {
    p {
        background-color: rgb(70, 80, 123);
    }
    h2 {
        background-color: rgb(255, 255, 255);
        padding: 7px;
        border-radius: 10px;
        font-weight: 300;
        margin-left: 0;
    }
}